layout{
    focus-ring{
        active-gradient from="#ffb3b5cc" to="#e6c08dcc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#413737"
        urgent-color "#ffb4ab"
    }
}
