layout{
    focus-ring{
        active-gradient from="#93cdf6cc" to="#cdc0e9cc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#353a3d"
        urgent-color "#ffb4ab"
    }
}
