layout{
    focus-ring{
        active-gradient from="#9fd49ccc" to="#a1ced5cc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#363a34"
        urgent-color "#ffb4ab"
    }
}

