layout{
    focus-ring{
        active-gradient from="#bac3ffcc" to="#e5bad7cc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#39393f"
        urgent-color "#ffb4ab"
    }
}
